<template>
    <div class="text">
        <h2>{{ greeting }}</h2>
        <h2>{{ sayHi }}</h2>
        <p><button @click="newGreeting1">Regular function</button></p>
        <p><button @click="newGreeting2">Anonymous function</button></p>
        <p><button @click="newGreeting3">Arrow function</button></p>
        <p><input type="text" @input="setFirstName" placeholder="gayOHM"></p>
    </div>
</template>

<script>
import { ref, computed } from 'vue'
export default {
    setup () {
        const greeting = ref(
            'Hi'
        )
        const user = ref({firstName:'',lastName:''})
        const setFirstName = ($event) => {
            user.value.firstName = $event.target.value
        }
        const sayHi = computed(() => {
            return 'Hi ' + user.value.firstName
        })
        // Regular function
        function newGreeting1() {
            greeting.value = "Hi jim"
        }
        // Anonymous function
        const newGreeting2 = function() {
            greeting.value = "Hi boy"
        }
        const newGreeting3 = () => {
            greeting.value = "Hi Jhon"
        }

        return { greeting,user,setFirstName,sayHi,newGreeting1,newGreeting2,newGreeting3 }
    }
}
</script>

<style scoped>
.text{
    text-align: center;
}
</style>