<template>
  <div class="text">
    <router-link v-bind:to="{name:'home'}">Home</router-link> |
    <router-link v-bind:to="{name:'about'}">About</router-link> |
    <router-link v-bind:to="{name:'OptionAPI'}">Option API</router-link> |
    <router-link v-bind:to="{name:'CompositionAPI'}">Composition API</router-link> |
    <router-link v-bind:to="{name:'ReactiveView'}">Reactive API</router-link> |
    <router-link v-bind:to="{name:'TwoWay'}">TwoWay</router-link> |
  </div>
  <router-view />
</template>

<script setup>

</script>

<style  scoped>
.router-link-exact-active{
  color:green;
  text-decoration: none;
}
.text{
  text-align: center;
}
</style>